*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

html,
body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: #e0e0e0;
    font-weight: 300;
}

h1,
h2,
h3 {
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
}

h1.title {
    color: white;
    font-size: 6rem;
    text-align: right;
    line-height: 1;
    margin-top: -168px;
    position: absolute;
    top: 50%;
    right: 25px;
}

.bannerBox {
    position: relative;
    height: 100%;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

a.lienProjet {
    width: 400px;
    height: 250px;
    padding: 20px 25px;
    background-color: #e0e0e0;
    border-radius: 50px;
    flex-shrink: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: scale 0.4s ease-out;
    border: none;
    flex-wrap: wrap;
    text-decoration: none;
    color: black;
    gap: 15px;
}

.text {
    margin-top: -10px;
    height: 140px;
    width: 56%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text>*{
    margin: 0;
}

.theme {
    margin: 0;
    margin-top: 10px;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    width: 90%;
    flex-wrap: wrap;
    gap: 10px;
}

.theme p {
    cursor: alias;
    padding: 3px 7px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 25px;
    flex-shrink: 0;
    border: solid 2px var(--color);
    box-shadow: 0 0 3px var(--color);
    z-index: 30;
    margin: 0;
}

a.lienProjet:hover {
    scale: 1.03;
    cursor: pointer;
}

a.lienProjet::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    box-shadow: inset 7px 7px 15px #929292,
        inset -7px -7px 15px #ffffff;
    transition: 0.4s ease-out;
}

a.lienProjet::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    box-shadow: 8px 8px 16px #cacaca,
        -8px -8px 16px #f6f6f6;
    opacity: 0%;
    transition: 0.4s ease-out;
}

a.lienProjet:hover::after {
    opacity: 100%;
}

a.lienProjet:hover::before {
    opacity: 0%;
}

div.flexbox {
    display: flex;
    gap: 50px;
    position: relative;
    left: 25px;
    transition: 1s;
    align-items: center;
}

div.hide {
    overflow: hidden;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 55px 0;
    position: relative;
}

.sliderDroite {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    right: 25px;
    transition: 0.3s;
}

.sliderGauche {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    left: 25px;
    transition: 0.3s;
    display: none;
}

.sliderDroite:hover,
.sliderGauche:hover {
    cursor: pointer;
    scale: 1.4;
}

header {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #161616cc;
    -webkit-backdrop-filter: saturate(1.8) blur(20px);
    backdrop-filter: saturate(1.8) blur(20px);
    z-index: 1000;
}

.fixe {
    position: fixed;
}

nav,
footer div {
    max-width: 1000px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

header a,
footer a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav a:hover,
footer a:hover {
    color: rgba(255, 255, 255, 1);
}

header img {
    height: 50px;
    border-radius: 50%;
    transition: 0.3s;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    margin-left: 10px;
    opacity: 0.8;
}

header img:hover {
    opacity: 1;
}

.banner {
    background-color: black;
    height: 65vh;
    width: 100%;
    position: relative;
    height: 650px;
    margin-bottom: 15px;
}

main {
    flex-grow: 1;
}

.flex {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

footer {
    background-color: black;
    padding: 10px;

    flex-grow: 0;
    flex-shrink: 0;
}

.wrapper {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

h2.projet {
    padding-top: 25px;
    padding-left: 100px;
    margin-bottom: -30px;
    z-index: -1;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.dynamique {
    color: white;
    font-size: 3.5rem;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 30px;
    margin-top: -75px;
}

.dynamique p {
    margin: 0;
}

.savoirFaire::after,
.savoirEtre::after {
    content: "|";
    -webkit-animation: blink ease 1s infinite;
    animation: blink ease 1s infinite;
    margin-left: -2px;
}

video.logo {
    width: 100%;
    height: 100%;
    transition: 2s;
}

div.video {
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    z-index: 2000;
    overflow: hidden;
    transition: 3s;
}

section.content {
    margin: 0 auto;
    max-width: 1000px;
    line-height: 1.5;
    padding: 25px 20px 5px 20px;
}

.content br {
    height: 5px;
}

.content h1 {
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

.content h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
    margin-top: 30px;
}

.bold {
    font-weight: 700;
}

.linkAlone {
    text-decoration: none;
    color: black;
    margin: 40px auto -10px auto;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 5px 5px 16px #696969,
        -5px -5px 16px #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.linkAlone:hover {
    cursor: pointer;
    scale: 1.03;
}

.linkAlone:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem #9b9b9b;
}

div.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 1;
}

.timeline {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 45px auto 80px auto;
    min-height: 50vh;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: -50px;
    left: 50%;
    margin-left: -3px;
}

.timeline::before {
    content: '';
    width: 0;
    height: 0;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    border-bottom: 20px solid black;
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -16px;

}

.container {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.container::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 6px;
    left: 390px;
    background-color: black;
    top: 50px;
    z-index: -1;
}

.container:nth-child(odd) {
    left: 5%;
}

.container:nth-child(even) {
    right: -60%;
}

.container:nth-child(even):after {
    left: -122px;
}

div.projet {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    grid-template-columns: 25px 3fr 15px 2fr 25px;
    grid-template-rows: repeat(4, fit-content(100px));
    grid-template-areas:
        ". img . titre ."
        ". img . texte ."
        ". img . infos ."
        ". pin . infos .";
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}

div.projet>* {
    margin: 0 auto;
}

div.projet>a {
    grid-area: img;
}

div.projet img {
    height: 350px;
    border-radius: 25px;
}

div.projet h1 {
    grid-area: titre;
    text-align: center;
    align-self: flex-start;
    line-height: 1;
}

div.projet p.description {
    grid-area: texte;
    font-size: 1.2rem;
    line-height: 1.4;
}

div.projet div.theme {
    grid-area: pin;
    margin-top: 15px;
    width: 100%;
}

div.projet div.theme>* {
    margin: 0;
    font-size: 1.05rem;

}

div.projet div.infoAll {
    grid-area: infos;
    display: flex;
    flex-direction: column;
    align-self: end;
    gap: 15px;
    width: 100%;
}

div.projet p.membres {
    margin: 0;
}

div.projet div.infoSup {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 25px;
}

div.projet div.infoSup>* {
    margin: 0;
    display: block;
}

.liens a:nth-child(2){
    margin-left: 10px;
}

.lienVersProjet {
    box-shadow: 5px 5px 16px #696969,
        -5px -5px 16px #ffffff;
    padding: 8px 15px;
    border-radius: 15px;
    color: black;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.lienVersProjet:hover {
    cursor: pointer;
    scale: 1.10;
}

.lienVersProjet:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem #9b9b9b;
}

div.ariane {
    display: flex;
    max-width: 1500px;
    margin-top: 50px;
    margin-left: 125px;
}

.lienRetour {
    display: block;
}

.filAriane {
    margin: 0;
    margin-left: 50px;
    align-self: center;
}

.filAriane a {
    color: black;
}

.filAriane a:hover {
    color: #545454;
}

.filtres {
    display: flex;
    gap: 15px;
    max-width: 1500px;
    margin: 10px auto 0 auto;
    justify-content: space-evenly;
}

.filtre {
    width: 230px;
    text-align: center;
}

.filtre select {
    text-align: center;
}




.containerSlides {
    position: static;

    width: 80%;
    height: 550px;

    margin: auto;
    padding: 10px;

    margin-bottom: 30px;
}

.containerSlides .cont {
    max-width: 1300px;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.slide {
    width: 120px;
    height: 100%;
    justify-content: center;
    margin: 0 10px;
    color: white;
    background-size: cover;
    background-position: center;
    box-shadow: 5px 5px 16px #696969,
        -5px -5px 16px #ffffff;
    opacity: .5;
    overflow: hidden;
    display: flex;
    align-items: end;
    border-radius: 25px;
}

.slide h3 {
    font-size: 2rem;
    margin: 0;
    margin-top: 7px;
}

.active {
    flex-grow: 1;
    transition: 1s;
    opacity: 1;
    padding: 0 10px;
    padding-bottom: 10px;
}

.nonActive {
    flex-grow: 0;
    opacity: 0.5;
    transition: 1s;
    cursor: pointer;
}

.active>* {
    opacity: 1;
    transition: 1s;
}

.nonActive>* {
    opacity: 0;
    transition: 1s;
}

.slide:nth-of-type(1) {
    background-image: url('./img/escalade.jpg');
}

.slide:nth-of-type(2) {
    background-image: url('./img/plongee.jpg');
}

.slide:nth-of-type(3) {
    background-image: url('./img/apnee.jpg');
}

.slide:nth-of-type(4) {
    background-image: url('https://mcdn.wallpapersafari.com/medium/28/35/fslPOF.jpg');
}

.texte {
    padding: 10px 15px 15px 15px;
    background-color: #000000bf;
    margin: -10px;
}

.texte h1 {
    margin: 0;
}

.texte p {
    margin-bottom: 0;
}

.content h2.welcome {
    margin-top: 10px;
}

@-webkit-keyframes blink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@media screen and (max-width: 1600px) {
    .dynamique {
        font-size: 2.5rem;
        margin-top: -50px;
    }

    .banner {
        height: 430px;
    }

    h1.title {
        font-size: 5rem;
        margin-top: -120px;
    }
}

@media screen and (max-width: 1250px) {
    div.projet {
        grid-template-columns: 25px 1fr 25px;
        grid-template-rows: repeat(5, fit-content(100px));
        grid-template-areas:
            ". titre ."
            ". img ."
            ". pin ."
            ". texte ."
            ". infos .";
        gap: 15px;
        max-width: 550px;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    div.projet img {
        width: 100%;
        height: auto;
    }

    div.projet div.theme {
        margin: 0;
    }

    div.ariane {
        margin-left: 10vw;
    }
}

@media screen and (max-width: 1200px) {

    .timeline {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }

    .timeline::after {
        left: 35px;
    }

    .timeline::before {
        left: 35px;
    }

    .container {
        margin-top: 25px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        padding-left: 50px;
    }

    .container:nth-child(odd):after,
    .container:nth-child(even):after {
        left: 15px;
    }

    .container:nth-child(odd),
    .container:nth-child(even) {
        left: 22px;
    }

    .content h2 {
        margin-left: 15px;
        margin-top: 15px;
    }
}

@media screen and (max-width: 1160px) {
    .dynamique {
        font-size: 2.5rem;
        margin-top: -20px;
    }

    h1.title {
        font-size: 3.5rem;
        margin-top: -56px;
    }

    .banner {
        height: 325px;
    }
}


@media screen and (max-width: 1025px) {
    .slide {
        width: 30px;
    }

    .containerSlides {
        width: 100%;
    }
}

@media screen and (max-width: 980px) {
    .dynamique {
        top: 270px;
    }

    h1.title {
        top: 125px;
    }

    .banner {
        height: 370px;
    }

    div.projet p.description {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 575px) {
    .dynamique {
        font-size: 1.5rem;
        top: 225px;
        left: 15px;
    }

    h1.title {
        font-size: 2.5rem;
        top: 115px;
    }

    .banner {
        height: 280px;
    }
}

@media screen and (max-width: 500px) {
    .timeline::after {
        left: 10px;
    }

    .timeline::before {
        left: 10px;
    }

    .container {
        margin-top: 25px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        padding-left: 10px;
    }

    .container:nth-child(odd):after,
    .container:nth-child(even):after {
        left: -15px;
    }
}

@media screen and (max-width: 450px) {
    a.lienProjet {
        flex-direction: column;
        width: 300px;
        height: 400px;
    }

    .text {
        width: 80%;
        margin-top: 5px;
    }

    .theme {
        margin-top: 10px;
    }

    .sliderDroite {
        display: none;
    }

    div.hide {
        overflow-x: scroll;
    }

    div.flexbox {
        left: 25px;
    }
}